.DS_Store
**/build/
/gui/dist/
.polysave
*.polyml-heap
*.heap
*.o
*.log
.*.swp
core/bin/quanto-core
*.rules_v2
/gui/build-debug/
core/local_config.ML
/gui/.classpath
/gui/.project
/gui/nbproject
/gui/bin/
*~
*#