core/heaps
.DS_Store
**/build/
/gui/dist/
.polysave
*.heap
*.polyml-heap
*.o
*.log
.*.swp
/core/bin
/core/heaps
*.rules_v2
/gui/build-debug/
/core/local_config.ML
/gui/.classpath
/gui/.project
/gui/generated/
/gui/nbproject
/gui/bin/
*~
*#
.ensime
.ensime_lucene
