{"rules":{"test":{"lhs":{"wire_vertices":{"Va":{},"Vb":{}},"node_vertices":{"id":{"data":{"value":"blockindent=2RTechnNode(id)","label":"blockindent=2RTechnNode(id)","type":"RT"}}},"dir_edges":{"goal0":{"src":"Va","tgt":"id","data":"goal0"},"goal1":{"src":"id","tgt":"Vb","data":"goal0a"}}},"rhs":{"wire_vertices":{"Va":{},"Vb":{}},"node_vertices":{"ie":{"data":{"value":"blockindent=2RTechnNode(id)","label":"blockindent=2RTechnNode(id)","type":"RT"}}},"dir_edges":{"goal2":{"src":"Va","tgt":"ie","data":"goal0"},"goal3":{"src":"ie","tgt":"Vb","data":"goal0a"}}}}},"tags":{},"active_rules":["test"]}